* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 210vh;
    background: url("https://pixelbox.ru/wp-content/uploads/2021/09/background-chat-vk-1.png");
    height: 100vh;
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;

}

.form {
    padding: 50px;
    width: 400px;
    border-radius: 8px;
    border: 2px solid #bd1b1b;
    display: flex;
    flex-direction: column;
}

.form input {
    min-width: 300px;
    width: 100%;
    padding: 5px 10px;
    border: #80002d 1px solid;
}

.form button {
    margin-top: 15px;
    margin-left: auto;
    border: #800017 1px solid;
    background: none;
    padding: 10px 15px;
    font-weight: bold;
    color: #d03737;
    cursor: pointer;
}

.form button:focus, .form input:focus {
    outline: none;
    color: #d21515;
}

.connection_message {
    width: 400px;
    border: 2px solid #a11313;
    border-radius: 8px;

    margin-top: 15px;
}

.message {
    width: 400px;
    text-align: center;
    margin-top: 15px;
}
